
.skillBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em 1rem;
}


.img {
    width: 76px;
    
}

.num {
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 1.4rem;
}

.bar {
    width: 70%;
    height: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
}
/* 
.bar::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    background-color: cyan;
    width: 100%;
    height: 100%;
    transform: translateX(  calc(-100% - -95%));
    
} */